.homeWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home h1 {
  font-size: 3.5rem;
}
.rightHalf img {
  width: 450px;
}
